

form {

    input,
    textarea {
        box-sizing: content-box;
        width: 100%;
        font-family: 'Inter', sans-serif;
    }

    input {
        height: 3vh;
    }

    textarea {
        padding: 0.4rem;
    }

    .control {
        margin-top: 1rem;
        &:first-of-type {
            margin: initial;
        }

        label {
            display:inline-block;
            padding-bottom: 1rem;
            font-weight: bold;

        }
    }

    .actions {
        margin: 1rem 0;
    }
}
